@import "../../../theme.scss";

.container {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.backupplans_list {
    display: flex;
    flex-direction: column;
}

.plan {
    width: -webkit-fill-available;
    height: 60px;
    background-color: rgb(71, 71, 71);
    border-right: solid 4px mat-color($primary);
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    transition: border 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    user-select: none;
    box-sizing: border-box;
}
.plan_selected {
    border-right: solid 12px mat-color($primary);
}

.add_plan {
    background-color: mat-color($primary);
    border: unset;
    padding: unset;
    justify-content: center;
    margin-top: 20px;
}
.add_plan mat-icon {
    transform: scale(1.4);
}

// drag-drop animations
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.backupplans_list.cdk-drop-list-dragging .plan:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
