@import "../../../theme.scss";

.container {
    position: absolute;
    right: 0px;
    top: 0px;
}

.settings_button {
    border-radius: 50%;
    cursor: pointer;
    height: 56px;
    padding: 5px;
    border: 4px solid#474747;
}

.settings_button mat-icon {
    color: mat-color($primary);
    font-size: 4em;
    height: fit-content;
    width: fit-content;
}