@import "../../../theme.scss";

.dialog_title {
    display: flex;
    flex-direction: column;
}

.droparea {
    width: -webkit-fill-available;
    height: 200px;
    background-color: transparent;
    border: 4px dashed mat-color($primary);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.droparea p {
    font-size: 1.6em;
    pointer-events: none;
    color: mat-color($primary);
    letter-spacing: normal;
    margin: unset;
    transition: letter-spacing 0.2s ease;
}
.droparea_dragging {
    border-radius: 50px;
}
.droparea_dragging p {
    letter-spacing: 2px;
}