@import "../../../theme.scss";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan_holder {
    width: 95%;
    height: 95%;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    margin: 10px;
}

.plan_activater {
    margin: 20px;
    margin-bottom: 0px;
    width: -webkit-fill-available;
    height: 40px;
    background-color: mat-color($primary);
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.plan_activater_disabled {
    cursor: wait !important;
}
.plan_activater_loader {
    width: 600px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.171);
    position: absolute;
    transition: all 0.3s ease;
}

.plan_name {
    all: unset;
    margin: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.8em;
    width: -webkit-fill-available;
    background: rgba(255, 255, 255, 0);
    transition: background 0.15s ease;
    border-radius: 2px;
}
.plan_name:hover {
    background: rgba(255, 255, 255, 0.2);
}
.plan_name:focus {
    background: rgba(255, 255, 255, 0.2);
}