@import "../../../../theme.scss";

.header {
    display: flex;
    margin-bottom: 5px;
}
.header p {
    font-size: 1.4em;
    margin-bottom: 4px;
    width: 100%;
}
.header button {
    color: white;
    width: fit-content;
    border: unset;
    cursor: pointer;
    background-color: mat-color($primary);
    border-radius: 2px;
}

.dirs_list {
    height: 150px;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(122, 122, 122);
    border-radius: 2px;
    overflow-y: auto;
}
.dir {
    cursor: default;
    transition: all 0.1s ease;
    width: -webkit-fill-available;
    border-radius: 1px;
    display: flex;
    padding: 2px;
    white-space: nowrap;
}
.dir:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.dir p {
    margin: unset;
    cursor: inherit;
}
.dir .spacer {
    width: 100%;
    height: 100%;
}
.buttons_list {
    display: flex;
    gap: 4px;
}
.action_button {
    border-radius: 2px;
    transition: all 0.2s ease;
    cursor: pointer;
    height: 24px;
}
.action_button:hover {
    background-color: mat-color($primary);
}
.action_button mat-icon {
    transform: scale(0.8);
}
